.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url('../../assets/images/Thoughtful-Eyes.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.top-bar {
  display: flex;
  align-items: space-between;
  width: 100%;
}

.logo {
    max-height: 80px;
    border: 50px;
    border-style: solid;
    border-radius: 30%;
    border-color: #4B0082;
    border-width: 5px;
    position: absolute;
}

.banner-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 40px;
  color: white;
  min-height: 100vh;
  width: 100%;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 40px;
  color: #4B0082;
  background: white;
  width: 100%;
  min-height: 100vh;
}

.stars {
  color: gold;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  background: lightgray;
  width: 100%;
  min-height: 100vh;
  color: #4B0082;
}

.projects-banner {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 100%;
  height: 150px;
}

.projects-header-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;

  height: 150px;
}

.projects-title {
  font-size: 30px;
}

.projects-row {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 100%;
  max-height: 200px;
}

.individual-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.individual-project img {
  max-height: 150px;
}

.individual-project a {
  text-decoration: none;
  color: white;
}

.project-name {
  color: white;
  text-decoration: none;
}

.technologies {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: white;
  color: #4B0082;
  width: 100%;
  min-height: 100vh;
}

.technologies-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  width: 100%;
  height: 100px;
  font-size: 40px;
}

.technologies-blurbs {
  display: flex;
  align-items: space-around;
  justify-content: space-around;

  width: 100%;
  height: 200px;
  font-size: 20px;
}

.tech-blurb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tech-blurb img {
  max-height: 125px;
}

.advertisement {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  background: transparent url('../../assets/images/WideOTWArticle.jpg') no-repeat center center fixed;
  background-color: transparent;
  background-size: 100% 100%;
  background-size: cover;

  width: 100%;
  min-height: 100vh;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 400px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 200px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;
  width: 100%;
  height: 100px;
}