.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  font-family: 'Architects Daughter', cursive;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url('../../assets/images/Thoughtful-Eyes.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.logo {
  display: flex;
  width: 100%;
}

.logo img {
    max-height: 80px;
    border-radius: 30%;
    position: fixed;
}

.banner-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 40px;
  color: white;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 40px;
  background: #EAEAEA;
  width: 100%;
  height: 300px;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  background: #4B0082;
  width: 100%;
  height: 600px;
  color: white;
}

.projects-banner {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 100%;
  height: 150px;
}

.projects-header-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;

  height: 150px;
}

.projects-title {
  font-size: 30px;
}

.projects-row {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 100%;
  max-height: 200px;
}

.individual-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.individual-project img {
  max-height: 150px;
}

.individual-project a {
  text-decoration: none;
  color: white;
}

.project-name {
  color: white;
  text-decoration: none;
}

.technologies {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: white;
  width: 100%;
  height: 300px;
}

.technologies-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  width: 100%;
  height: 100px;
}

.technologies-blurbs {
  display: flex;
  align-items: space-around;
  justify-content: space-around;

  width: 100%;
  height: 200px;
}

.tech-blurb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tech-blurb img {
  max-height: 125px;
}

.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: #4B0082;
  color: white;
  width: 100%;
  height: 300px;
}

.advertisement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  /* make this a picture */
  max-width: 100%;
  height: 600px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: grey;
  width: 100%;
  height: 400px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: grey;
  width: 100%;
  height: 200px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: grey;
  width: 100%;
  height: 100px;
}